# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment (Standard names + Windows root folders)
venv/
env/
.venv/
ENV/
Include/
Lib/
Scripts/
!scripts/
share/
pyvenv.cfg

# --- Project Specifics ---
.deployment/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/
mlflow.db

# --- Data & Artifacts ---
# Ignore contents but keep folders (requires .gitkeep files inside)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
data/validation_failures/*
!data/validation_failures/.gitkeep

# Ignore large model artifacts
artifacts/*
!artifacts/.gitkeep

# --- Configuration & Secrets ---
.env
.env.local
.vscode/
.idea/
*.swp

# --- OS Junk ---
.DS_Store
Thumbs.db

# --- Temporary Working Files ---
workingfile.txt
*.tmp

# --- Logs & Testing ---
*.log
logs/
.pytest_cache/
.coverage
htmlcov/

# --- Great Expectations ---
great_expectations/uncommitted/